.about__img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 1rem;
}
.about__box {
  padding: 2rem 1rem;
  border: 1px solid var(--clr-base);
  border-radius: 1rem;
  /* background-color: var(--clr-light); */
}
.about__title {
  text-align: center;
  font-size: var(--size-3xl);
  font-weight: bold;
  text-transform: uppercase;
  /* color: var(--clr-span); */
  color: var(--clr-medium);
}
.about__info-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1.5rem;
  padding: 1rem 0.2rem;
}
.about__left {
  display: grid;
  justify-content: start;
  padding: 1rem 0.3rem 0;
}
.about__desc {
  font-size: var(--size-xsm);
  /* color: var(--clr-navy); */
  color: var(--clr-base);
  line-height: var(--wider-lg);
  max-width: 65ch;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

/* xs */
@media (min-width: 475px) {
  .about__title {
    font-size: var(--size-4xl);
  }
}
/* sm */
@media (min-width: 640px) {
  .about__info-container {
    grid-template-columns: 7fr 4fr;
  }
}
/* md */
@media (min-width: 768px) {
  .about__title {
    font-size: var(--size-5xl);
  }
  .about__desc {
    font-size: var(--size-sm);
  }
}
/* lg */
@media (min-width: 1024px) {
  .about__title {
    font-size: var(--size-7xl);
  }
}
